@font-face {
    font-family: "Source-Sans-Pro-400";
    src: url(fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "Poppins-400";
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Design";
    src: url(fonts/Design/design.ttf);
}

@mixin purple-button {
    padding: 15px 40px;
    background: #8276FF;
    border-radius: 31px;
    border: none;
    cursor: pointer;
    color: #fff;
    font: 700 20px "Source-Sans-Pro-400";
    letter-spacing: 0.02em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: gray;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background: #100C16; // #100C16
    overflow-x: hidden;
}

.container {
    width: 1342px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    padding: 18px 0;
    opacity: 0;
    transition: 1s;
    transform: translateY(-100%);

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;

        a {
            user-select: none;

            button {
                cursor: pointer;
                width: 175px;
                height: 42px;
                box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.13);
                border: 1px solid #8276FF;
                border-radius: 131px;
                background: transparent;
                color: #fff;
                font: 18px "Source-Sans-Pro-400";

            }
        }
    }
}

.main-page {
    padding-top: 60px;

    .container {
        display: flex;
        justify-content: space-between;

        .content {
            padding-top: 77px;
            min-width: 400px;
            max-width: 702px;
            opacity: 0;
            transform: translateX(-100px);
            transition: 1s;

            .title {
                display: flex;
                margin-bottom: 20px;

                span.upper-first {
                    font: 49px "Design";
                    color: #FFC759;
                    margin-right: 18px;
                }

                span.lower {
                    margin-right: 18px;
                    font: 49px "Design";
                    color: #fff;
                }

                span.upper-last {
                    font: 49px "Design";
                    color: #FFC759;
                }
            }

            .subtitle {

                h1 {
                    font: 16px "Source-Sans-Pro-400";
                    max-width: 247px;
                    color: #fff;
                }
            }

            .button-panel {
                margin-top: 41px;

                a {

                    button {
                        @include purple-button();
                    }
                }
            }

            .under-button {
                display: flex;
                align-items: center;
                margin-top: 20px;

                img {
                    margin-right: 17px;
                }

                span {
                    font: 15px "Source-Sans-Pro-400";
                    color: #fff;
                }
            }

            .stars {
                display: flex;
                align-items: center;
                margin-top: 64px;

                img {
                    margin-right: 8px;
                }

                span {
                    color: #fff;
                }
            }

            .logos {
                display: flex;
                align-items: center;
                margin-top: 30px;
                gap: 27px;
                flex-wrap: wrap;

                img {
                    object-fit: contain;
                }
            }
        }

        .picture {
            width: 600px;
            height: 600px;
            opacity: 0;
            transform: translateX(100px);
            transition: 1s;
        }
    }
}

.price-page {
    padding-top: 166px;
    padding-bottom: 200px;

    .container {
        overflow: visible;

        >.title {
            opacity: 0;
            transition: 1s;

            h1 {
                font: 39px "Source-Sans-Pro-400";
                color: #fff;
                text-align: center;
            }
        }

        .cards {
            display: flex;
            justify-content: space-between;
            margin-top: 113px;
            flex-wrap: wrap;

            .card-panel {
                width: 610px;
                padding-top: 20px;
                position: relative;
                opacity: 0;
                transition: 1s;

                .discount {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 264px;
                    height: 264px;
                    z-index: 1;
                    right: 0;
                    top: -70px;

                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }

                    span {
                        font: 50px "Design";
                        color: #fff;
                        transform: translateX(15px);
                    }
                }

                .card {
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid rgba(141, 159, 244, 0.3);
                    backdrop-filter: blur(5.5px);
                    border-radius: 10px;
                    padding-top: 53px;
                    padding-bottom: 63px;
                    width: 537px;
                    display: flex;
                    justify-content: center;
                    z-index: 1;


                    .content {
                        .title {
                            margin-bottom: 29px;

                            h1 {
                                font: 700 39px "Source-Sans-Pro-400";
                                letter-spacing: 0.007em;
                                color: rgba(255, 255, 255, 0.86);
                                text-align: center;
                            }
                        }

                        .pay {
                            position: relative;
                            display: flex;
                            justify-content: center;

                            .before-price {
                                position: absolute;
                                left: -80px;
                                top: 0;
                                font: 31px "Source-Sans-Pro-400";
                                color: #fff;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    width: 75px;
                                    background: #F354B4;
                                    height: 3px;
                                    border-radius: 5px;
                                    transform: translate(-3px, 20px) rotate(-20deg);
                                }
                            }

                            .price {
                                font: 700 80px "Source-Sans-Pro-400";
                                color: #fff;
                                letter-spacing: 0.007em;
                            }
                        }

                        .term {
                            h1 {
                                font: 28px "Source-Sans-Pro-400";
                                color: #fff;
                                text-align: center;
                            }
                        }

                        .services {
                            margin-top: 10px;

                            ul {
                                li {
                                    list-style: none;
                                    display: flex;

                                    img {
                                        object-fit: contain;
                                        margin-right: 13px;
                                    }

                                    h2 {
                                        font: 20px "Source-Sans-Pro-400";
                                        color: #fff;
                                    }
                                }

                            }
                        }

                        .button-panel {
                            margin-top: 50px;

                            button {
                                @include purple-button();
                            }
                        }
                    }
                }
            }

            .card-panel.one {
                transform: translateX(-100px);

                .blur {
                    position: absolute;
                    width: 480px;
                    height: 480px;
                    bottom: -200px;
                    left: -150px;
                    background: rgba(99, 133, 253, 0.1);
                    filter: blur(115px);
                    z-index: 0;
                }

                .card {
                    &::after {
                        content: '*for 6 months';
                        position: absolute;
                        bottom: 28px;
                        right: 32px;
                        font: 14px "Source-Sans-Pro-400";
                        color: #fff;
                    }
                }
            }

            .card-panel.two {
                transform: translateX(100px);

                .blur {
                    position: absolute;
                    width: 396px;
                    height: 396px;
                    right: -50px;
                    top: -100px;
                    background: #fd779f30;
                    filter: blur(115px);
                    z-index: 0;
                }

                .discount {
                    display: flex;
                    flex-direction: column;

                    h1 {
                        color: #fff;
                        transform: translateX(10px);
                    }

                    h1.top {
                        font: 39px "Design";
                    }

                    h1.bottom {
                        font: 50px "Design";
                    }
                }
            }
        }

    }
}

.companies-one {
    padding-bottom: 180px;

    .container {
        overflow: visible;

        .companies {
            min-height: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transform: scale(0.9);

            img {
                position: absolute;
                transition: 1s;
                
                &:nth-child(1) {
                    left: 42%;
                }
                &:nth-child(2) {
                    left: 42%;
                }
                &:nth-child(3) {
                    left: 42%;
                }
                &:nth-child(4) {
                    left: 42%;
                }
                &:nth-child(5) {
                    left: 42%;
                }
                &:nth-child(6) {
                    z-index: 1;
                }
                &:nth-child(7) {
                    right: 42%;
                }
                &:nth-child(8) {
                    right: 42%;
                }
                &:nth-child(9) {
                    right: 42%;
                }
                &:nth-child(10) {
                    right: 42%;
                }
                &:nth-child(11) {
                    right: 42%;
                }
            }
            

        }
    }
}

.info-page {

    .container {

        >.header {
            text-align: center;
            opacity: 0;
            transition: 1s;

            .title {
                font: 39px "Source-Sans-Pro-400";
                color: #fff;
            }

            .under-title {
                font: 39px "Source-Sans-Pro-400";
                color: #FFC759;
            }
        }

        .content {
            margin-top: 80px;
            background: linear-gradient(147.19deg, #362A87 -2.99%, #2C2747 82.25%, #4323F1 157.46%);
            border-radius: 26px;
            padding: 73px 54px 130px;
            transition: 1s;
            transform: scale(0);

            .icons {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 30px;

                .icon {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        margin-bottom: 13px;
                    }

                    p {
                        text-align: center;
                        font: 20px "Source-Sans-Pro-400";
                        color: #fff;
                    }
                }
            }

            .track {
                width: 100%;
                height: 3px;
                background: #E7E9F2;
                display: flex;
                align-items: center;
                margin-top: 34px;
                border-radius: 1px;

                .button {
                    width: 110px;
                    height: 6px;
                    background: #fff;
                    border-radius: 6px;
                }
            }

            .info {
                display: flex;
                justify-content: space-between;
                gap: 30px;
                margin-top: 76px;

                .info-content {
                    max-width: 660px;
                    min-width: 400px;

                    .title {
                        font: 20px "Source-Sans-Pro-400";
                        color: #fff;
                    }

                    .services {
                        margin-top: 30px;
                        margin-bottom: 41px;

                        ul {
                            li {
                                list-style: none;
                                display: flex;
                                margin-bottom: 16px;

                                img {
                                    object-fit: contain;
                                    margin-right: 13px;
                                }

                                h2 {
                                    font: 20px "Source-Sans-Pro-400";
                                    color: #fff;
                                }
                            }

                        }
                    }

                    button {
                        @include purple-button();
                    }
                }

                .picture {
                    object-fit: contain;
                }
            }

        }
    }
}

.trusted-companies {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 180px;

    .title {
        opacity: 0;
        transition: 1s;

        h1 {
            font: 31px "Source-Sans-Pro-400";
            color: #fff;
            text-align: center;
        }
    }

    .logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1181px;
        margin-top: 50px;
        gap: 42px;
        opacity: 0;
        transition: 1s;

        a {
            text-decoration: none;
        }
    }
}

footer {
    min-height: 431px;
    display: flex;
    align-items: center;
    background: linear-gradient(147.19deg, #362A87 -2.99%, #2C2747 82.25%, #4323F1 157.46%);
    position: relative;
    overflow: hidden;

    .copyright {
        position: absolute;
        bottom: 20px;
        left: 20px;

        h1 {
            font: 22px sans-serif;
            color: #fff;
            text-shadow: 0 0 3px #000;
        }
    }

    .picture {
        position: absolute;
        right: -100%;
        height: 100%;
        transition: 1s;
    }

    .container {
        opacity: 0;
        transition: 1s;

        .title {
            margin-bottom: 30px;

            h1 {
                font: 31px "Source-Sans-Pro-400";
                color: #fff;
            }
        }

        a {
            text-decoration: none;

            button {
                @include purple-button();
            }
        }
    }
}



@media screen and (max-width: 1440px) {
    .companies-one .container .companies {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1342px) {
    .container {
        width: 100%;
    }

    .companies-one {
        opacity: 0;
        transition: 1s;

        .container .companies {
            flex-wrap: wrap;
            gap: 50px;
    
            img {
                position: static;
                width: 200px;
                height: 220px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .price-page .container .cards {
        justify-content: center;
        gap: 50px;
    }
}

@media screen and (max-width: 1250px) {
    footer .picture {
        right: -250px;
    }
}

@media screen and (max-width: 1100px) {
    .main-page .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-page .container .content .info {
        flex-wrap: wrap;
        justify-content: center;

        .picture {
            width: 100%;
        }
    }

    footer .picture {
        right: -350px;
    }

    .main-page .container .picture {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1050px) {
    footer .picture {
        right: -450px;
    }
}

@media screen and (max-width: 968px) {
    .companies-one {
        padding-bottom: 0;

        .container {
            width: 100%;

            .companies {
                flex-wrap: wrap;
                gap: 50px;
        
                img {
                    position: static;
                    width: 180px;
                    height: 210px;
                }
            }
        }
    }

    .info-page .container .content .icons {
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    footer .picture {
        opacity: 0.3;
    }
}

@media screen and (max-width: 700px) {
    .price-page {
        padding-bottom: 0;

        .container .cards .card-panel {
            width: 100%;

            &.two {

                .discount {

                    h1.top {
                        font: 35px "Design";
                    }

                    h1.bottom {
                        font: 45px "Design";
                    }
                }
            }

            .card {
                width: 90%;
            }

            .discount {
                right: -55px;

                img {
                    transform: scale(0.8);
                }
            }
        }
    }

    .main-page .container .content .title span.upper-first,
    .main-page .container .content .title span.lower,
    .main-page .container .content .title span.upper-last {
        font: 30px "Design";
    }

    .price-page .container .cards .card-panel .card .content .pay .price {
        font: 700 60px "Source-Sans-Pro-400";
    }

    .info-page .container .content .info .info-content {
        min-width: 0;

        .title {
            font: 15px "Source-Sans-Pro-400";
        }
    }
    .price-page .container .cards .card-panel .card .content .pay .before-price {
        left: -37px;
    }
}

@media screen and (max-width: 550px) {
    .info-page .container .content {

        padding: 30px 20px 50px;
    }

    .companies-one .container .companies {
        transform: scale(0.9);
    }
    .price-page .container > .title h1 {
        font: 30px "Source-Sans-Pro-400";
    }
}

@media screen and (max-width: 520px) {
    .price-page .container .cards .card-panel .discount span {
        font: 37px "Design";
        transform: translateX(10px);
    }
    .price-page .container .cards .card-panel .discount {
        width: 220px;
        height: 220px;
    }
    .price-page .container .cards .card-panel.two .discount {

        h1.top {
            font: 30px "Design";
        }
        h1.bottom {
            font: 40px "Design";
        }
    }
    
    
}

@media screen and (max-width: 450px) {
    header {

        .container {
            justify-content: center;
        }
    }

    .main-page {
        padding-top: 0;

        .container .content {
            min-width: 0;
        }
    }
    .main-page .container .content .logos {
        justify-content: center;
    }
}
@media screen and (max-width: 400px) {
    .price-page .container .cards .card-panel .card .content .title h1 {
        font: 700 33px "Source-Sans-Pro-400";
    }
    .price-page .container .cards .card-panel .card .content .pay .price {
        font: 700 55px "Source-Sans-Pro-400";
    }
    .price-page .container .cards .card-panel .card .content .pay .before-price {
        font: 26px "Source-Sans-Pro-400";
        left: -18px;
    }
    .price-page .container .cards .card-panel .card .content .pay .before-price::before {
        transform: translate(-2px, 17px) rotate(-20deg);
        width: 65px;
    }
    .price-page .container .cards .card-panel .discount {
        width: 180px;
        height: 180px;

        span {
            font: 29px "Design";
        }
    }
    .price-page .container .cards .card-panel.two .discount h1.top {
        font: 22px "Design";
    }
    .price-page .container .cards .card-panel.two .discount h1.bottom {
        font: 32px "Design";
    }
    
}